.icon {
    cursor: pointer;
    margin-left: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
}

textarea {
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

.dialogActions {
    display: flex;
    align-items: center;
    padding: 0 12px 12px 0;
}

.clearIcon {
    color: red;
    cursor: pointer;
}

.checkIcon {
    color: green;
    cursor: pointer;
}

.addColButton {
    cursor: pointer;
    display: flex;
    border: none;
    align-items: center;
    border-radius: 5px;
    margin: 8px;
    padding: 4px 8px;
    text-decoration: none;
    user-select: none;
    position: absolute;
    right: 15px;
}

.addColButton:hover {
    background-color: #c3c2c2;
}