.app-container {
    display: flex;
}

.spinner {
    align-content: center;
    justify-content: center;
}

.board {
    justify-content: center;
    display: flex;
    overflow-y: scroll;
    flex: 1;
    height: 92vh;
}
